<!DOCTYPE html>


{% load static %}
<html>






	<head>
			<link rel="stylesheet" href="{% static 'registration/Bootstrap/dist/css/bootstrap-grid.css' %}" type="text/css">

			<link rel="stylesheet" href="{% static 'registration/Bootstrap/dist/css/bootstrap-reboot.css' %}" type="text/css">

			<link rel="stylesheet" href="{% static 'registration/Bootstrap/dist/css/bootstrap.css' %}" type="text/css">

			<link rel="stylesheet" href="{% static 'registration/css/fonts.css' %}" type="text/css">

			<link rel="stylesheet" href="{% static 'registration/css/fonts.min.css' %}" type="text/css">

			<link rel="stylesheet" href="{% static 'registration/css/main.css' %}" type="text/css">

			<!--link rel="stylesheet" href="{% static 'registration/css/main.min.css' %}" type="text/css"-->

		<title>{% block title %}landing{% endblock %}</title>


	</head>






	<body>

	{% block body %}
	{% endblock %}
	<script src="{% static 'registration/js/jquery-3.2.1.js' %}"></script>
	<script src="{% static 'registration/js/jquery.appear.js' %}"></script>
	<script src="{% static 'registration/js/jquery.mousewheel.js' %}"></script>
	<script src="{% static 'registration/js/perfect-scrollbar.js' %}"></script>
	<script src="{% static 'registration/js/jquery.matchHeight.js' %}"></script>
	<script src="{% static 'registration/js/svgxuse.js' %}"></script>
	<script src="{% static 'registration/js/imagesloaded.pkgd.js' %}"></script>
	<script src="{% static 'registration/js/Headroom.js' %}"></script>
	<script src="{% static 'registration/js/velocity.js' %}"></script>
	<script src="{% static 'registration/js/ScrollMagic.js' %}"></script>
	<script src="{% static 'registration/js/jquery.waypoints.js' %}"></script>
	<script src="{% static 'registration/js/jquery.countTo.js' %}"></script>
	<script src="{% static 'registration/js/popper.min.js' %}"></script>
	<script src="{% static 'registration/js/material.min.js' %}"></script>
	<script src="{% static 'registration/js/bootstrap-select.js' %}"></script>
	<script src="{% static 'registration/js/smooth-scroll.js' %}"></script>
	<script src="{% static 'registration/js/selectize.js' %}"></script>
	<script src="{% static 'registration/js/swiper.jquery.js' %}"></script>
	<script src="{% static 'registration/js/moment.js' %}"></script>
	<script src="{% static 'registration/js/daterangepicker.js' %}"></script>
	<script src="{% static 'registration/js/simplecalendar.js' %}"></script>
	<script src="{% static 'registration/js/fullcalendar.js' %}"></script>
	<script src="{% static 'registration/js/isotope.pkgd.js' %}"></script>

	<script src="{% static 'registration/js/base-init.js' %}"></script>
	<script src="{% static 'registration/webfonts/fontawesome-all.js' %}"></script>
	<!-- ... <script defer src="fonts/fontawesome-all.js"></script> -->


	<script src="{% static 'registration/js/ajax-pagination.js' %}"></script>
	<script src="{% static 'registration/js/Chart.js' %}"></script>
	<script src="{% static 'registration/js/chartjs-plugin-deferred.js' %}"></script>
	<script src="{% static 'registration/js/circle-progress.js' %}"></script>
	<script src="{% static 'registration/js/loader.js' %}"></script>
	<script src="{% static 'registration/js/run-chart.js' %}"></script>
	<script src="{% static 'registration/js/jquery.magnific-popup.js' %}"></script>
	<script src="{% static 'registration/js/jquery.gifplayer.js' %}"></script>
	<script src="{% static 'registration/js/mediaelement-and-player.js' %}"></script>
	<script src="{% static 'registration/js/mediaelement-playlist-plugin.min.js' %}"></script>
	<script src="{% static 'registration/js/ion.rangeSlider.js' %}"></script>
	<script src="{% static 'registration/webfonts/fontawesome-all.js' %}"></script>
	<script src="{% static 'registration/Bootstrap/dist/js/bootstrap.bundle.js' %}"></script>

	

	</body>
</html>